.best-care {
    background-image: url("/img/our pets/dogphoto.webp");
    min-height: 775px;
  }
  
  .best-care__text {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 20%;
  
    .best-care__title {
      font-family: "Rubik", sans-serif;
      color: var(--primary-color);
      font-size: 62px;
      width: 570px;
      margin-bottom: 0%;
    }
  
    .best-care__discription {
      color: var(--primary-color);
      font-family: "Poppins", sans-serif;
      margin-bottom: 50px;
      font-size: 19px;
    }
  
    .best-care__links {
      width: 330px;
  
      .best-care__order-services {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: #fff;
        background-color: var(--accent-color);
        padding: 13px 20px;
        border-radius: 25px;
  
        .best-care__order-services__vector {
          padding: 0px 8px;
        }
      }
  
      .best-care__call-us {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: var(--primary-color);
        font-weight: 700;
  
        &:hover {
          text-decoration: underline;
        }
  
        .best-care__call-us__phone {
          padding: 20px;
        }
      }
    }
  }
  
  @media (max-width: 640px) {
    .best-care {
      height: 557px;
    }
    .best-care__text {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
  
      .best-care__title {
        width: 330px;
        font-size: 40px;
      }
  
      .best-care__discription {
        margin-top: 20px;
      }
    }
  }
  