.pets-happy-and-healthy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  gap: 20px;
}

.pets-happy-and-healthy__image {
  width: 45%;
  max-width: 600px;
  border-radius: var(--border-radius);
  overflow: hidden;
  height: auto; /* Важливо: висота автоматична */
}

.pets-happy-and-healthy__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pets-happy-and-healthy__text {
  width: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  height: auto; /* Важливо: висота автоматична */
  min-height: 400px; /* Мінімальна висота для текстового блоку */
  justify-content: space-around; /* Розподіл простору між елементами */
}

.pets-happy-and-healthy__content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Відстань між елементами всередині контенту */
}

.pets-happy-and-healthy__title {
  font-family: "Rubik", sans-serif;
  font-size: 52px;
  color: var(--title-color);
  margin-bottom: 0; /* Видалено зайвий відступ */
}

.pets-happy-and-healthy__description,
.pets-happy-and-healthy__details {
  font-size: 18px;
  color: var(--text-accent-color);
  font-family: "Poppins", sans-serif;
  margin-bottom: 0; /* Видалено зайвий відступ */
  line-height: 1.5; /* Для кращої читабельності */
}


.btn {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  padding: 13px 20px;
  border-radius: 25px;
  align-self: flex-start;
}

.btn:hover {
  background-color: var(--button-hover-color);
}


@media (max-width: 640px) {
  .pets-happy-and-healthy__title {
      font-size: 32px;
  }

  .pets-happy-and-healthy__description,
  .pets-happy-and-healthy__details {
      font-size: 16px;
  }
}