.slider__best-care {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px 0px;
  
}

.best-care__card {
  height: 320px;
  width: 260px;
  background-color: var(--button-text-color);
  border-radius: 20px;
  overflow: hidden;
  margin: 15px;
}

.best-care__img {
  padding-left: 25px;
  padding-top: 30px;
}

.slider-card__title {
  font-family: 'Rubik', sans-serif;
  color: var(--title-color);
  padding: 20px 0px;
}

.best-care__hr {
	border: none;
  width: 40px;
	border-top: 2px solid var(--accent-color);
}

.best-care__info {
  
}