@import "global.css";

:root {
    --primary-color: #050e73;
    --accent-color: #ff5b2d;
    --secondary-color: #6a6e8f;
  }

 .best-care {
    background-image: url("/img/background/your-pet-deserve-background.png");
    min-height: 775px;
}



.best-care__text {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 25%;
    
    
    
    .best-care__title {
    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
    font-size: 62px;
    width: 570px;
    margin-bottom: 0%;
    }

    .best-care__discription {
        color: var(--primary-color);
        font-family: "Poppins", sans-serif;
        margin-bottom: 50px;
        font-size: 19px;
    }

    .best-care__links {
        width: 330px;
      
        .best-care__order-services {
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 15px;
            color: #fff;
            background-color: var(--accent-color);
            padding: 13px 20px;
            border-radius: 25px;

            .best-care__order-services__vector {
                padding: 0px 8px;
            }
        }

        .best-care__call-us {
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            color: var(--primary-color);
            font-weight: 700;

            .best-care__call-us__phone {
                padding: 10px;
                
            }

        }

    }

    
}
    

