.faq {
  padding: 3.75rem 0; /* 60px */
  display: flex;
  justify-content: center;

  .faq__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; /* 32px */
    padding: 3.125rem 2rem; /* 50px 32px */

    .faq__accordion {
      display: flex;
      flex-direction: column;
      height: 100%;

      .accordion__item {
        padding: 1.25rem 0; /* 20px */
        border-bottom: 1px solid var(--faq-acc-bottom-line-color);
      }

      .faq__title {
        color: var(--title-color);
        text-align: left;
        font-size: 2.625rem; /* 42px */
        line-height: 1.3;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
      }

      .faq__description {
        color: var(--text-accent-color);
        font-size: 1.1875rem; /* 19px */
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin: 1.5625rem 0; /* 25px */
        text-align: left;
      }

      .accordion__content {
        color: var(--secondary-color);
        font-size: 1.0625rem; /* 17px */
        font-family: "Poppins", sans-serif;
      }
    }
  }

  .faq__image-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 3.125rem 0.9375rem; /* 50px 15px */

    .faq__image {
      max-height: 180vh;
      width: auto;
      height: auto;
    }
  }

  @media (min-width: 48rem) {
    /* 768px */
    .faq__content {
      grid-template-columns: 1fr 1fr;
      padding: 0 2.5rem; /* 40px */
    }

    .faq__accordion {
      padding-top: 6.25rem; /* 100px */
    }

    .faq__image-wrapper {
      margin-top: 0;
      padding-top: 0;
    }
  }

  @media (min-width: 75rem) {
    /* 1200px */
    .faq__content {
      width: 82%;
    }
  }
}

.accordion__button {
  background-color: transparent;
  color: var(--text-accent-color);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem; /* 17px */
  font-weight: bold;
  line-height: 1.4375rem; /* 23px */

  &::after {
    content: "+";
    font-size: 1.4375rem; /* 23px */
    font-weight: 400;
    float: right;
    margin-left: 0.3125rem; /* 5px */
    opacity: 0.8;
  }

  &.active::after {
    content: "-";
  }
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, margin-top 0.3s ease;
}

.accordion__text {
  padding: 1.25rem 0; /* 20px */
}
