.articles-section {
  padding: 4rem 1rem;
  background-color: var(--background-color);
  text-align: center;
}

.articles__title {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.articles__description {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 2.5rem;
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
 
}

.article__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.article__meta {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--accent-color);
  margin: 1rem;
  text-align: left;
}

.article__title {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0 1rem 0.5rem;
  text-align: left;
}

.article__text {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  margin: 0 1rem 1rem;
  flex-grow: 1;
  text-align: left;
}

.article__button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--button-border-radius);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
  align-self: flex-start;
}

.article__button:hover {
  background-color: var(--button-hover-color);
}

@media (max-width: 640px) {
  .articles__title {
    font-size: 2rem;
  }

  .articles__description {
    font-size: 1rem;
  }

  .articles__list {
    grid-template-columns: 1fr !important;
  }

  .article__image {
    max-width: 80% !important;
    max-height: 80% !important;
    object-fit: cover;
  }

  .article__button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 1024px) {
  .articles__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .articles__title {
    font-size: 2.25rem;
  }

  .articles__description {
    font-size: 1.125rem;
  }
}

.article__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .articles-section {
    padding: 5rem 2rem;
  }

  .articles__title {
    font-size: 3rem;
  }

  .articles__description {
    font-size: 1.5rem;
  }

  .articles__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .article__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}