<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/index.css" />
</head>

<body>
    <header class="header">
        <div class="header__background">
            <div class="header__container container">
                <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header.partial.html"></nav>
            </div>
        </div>
    </header>
      <script type="module" src="./js/index.js"></script>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.section-your-fluffy-friend.html">
        </section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.section-meet-our-team.html">
        </section>
    </main>
    <footer></footer>
</body>
</html>
